@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #000;
}
.image-slider{
  min-height: 30em;
  height: 100vh;
  position: relative;
  background-image: url(../images/img-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 0.3s;
}
.caption{
  background: linear-gradient(rgba(0, 0, 0, 0), #000);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 4em 1em 2em 1em;
  text-align: center;
}
.caption h1{
  margin: 0;
  color: white;
}
p{
  color: #8a8a8a;
}
.arrow-left,
.arrow-right{
  background: white;
  position: absolute;
  top: 40%;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
.arrow-left:hover,
.arrow-right:hover{
  background: #1a1919;
  color: white;
}
.arrow-left{
  left: 1em;
}
.arrow-right{
  right: 1em;
}
.image-fade{
  animation: imgFade 0.5s ease-in-out;
}
@keyframes imgFade{
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@media screen and (min-width: 576px) {
}

/* Medium devices (tablets) */

@media (min-width: 768px) {
}

/* Large devices (desktops) */

@media (min-width: 991px) {
}

/* Extra large devices (large desktops) */

@media (min-width: 1200px) {
}
